In [4]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

In [5]:
data = pd.read_csv('written_name_train_v2.csv')
data.head()

          FILENAME   IDENTITY
0  TRAIN_00001.jpg  BALTHAZAR
1  TRAIN_00002.jpg      SIMON
2  TRAIN_00003.jpg      BENES
3  TRAIN_00004.jpg    LA LOVE
4  TRAIN_00005.jpg     DAPHNE

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(random)